body{
    background-color: black;
}

.wrapper{
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 350px;
}

.overlay {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.close-btn {
  position: absolute;
  /* top: 43%; */
  right: 37%;
  cursor: pointer;
}

.text-container{
    margin: -310px auto auto auto;
    position: relative;
    overflow: hidden;
  /* padding-right: 100px; */
}

.text{
    font-family: 'Helvetica', sans-serif;
    /* font-stretch: %; */
    letter-spacing: 10px;
    color: white; 
    font-size: 320px;
    font-weight: bolder;
    color: transparent; 
    background-image: url('https://i.artfile.ru/3840x2400_1473509_[www.ArtFile.ru].jpg');
    background-clip: text; 
    background-size: 1350px;
    background-position-x:center;
    background-position-y:  center;
    background-repeat: no-repeat;
    -webkit-background-clip: text; 

    /* transform: scaleY(10%); */
    /* padding-left: 100px; */
    
}

.menu-main {
    position: sticky;
    list-style: none;
    padding: 10px 5px;
    text-align: center;
    background: rgb(0, 0, 0);
    margin-bottom: -4%;
    z-index: 3;
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}

.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}

.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #ffffff;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: 18px;
  left: 50%;
  /* background: #ffffff; */
  background: black;
  transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.under-text{
  font-family: 'Verdana', sans-serif;
  /* letter-spacing: 10px; */
  color: white; 
  font-size: 27px;
  font-weight: bolder;
  margin: 0;
  position: flex;
  width: 1180px;
  display: inline-block;
  padding-left: 20px;
  position: center;
  letter-spacing: 1px;
  word-spacing: -2px;
  /* background-position-y: center; */
}


.form{    /* взят */
  color: white;
  display: flex;
  padding: 80px 0 0 0;
  margin: 0 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
img{
  display: flex;
}

.form-img{   /* взят */
  padding: 0px 20px 40px 20px;
  width: 50%;
}

.number{
  color: white;
    font-size: 90px;
    position: absolute;
    font-weight: bold;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.form-tittle{
  position: relative;
  color:white;
  font-size: 90px;
  font-weight: bold;
}

.form-description{  /*взят*/
color: white;
padding: 0 0 10px;
font-weight: bold;
font-size: 27px;
}

.bio-text{ /*взят*/
width: 80%;
color: white;
font-weight: lighter;
font-size: 21px;
}

.more-button{
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-left: auto;
  font-size: 21px;
  width: 150px;
  align-content: center;
  border-radius: 20px;
  border: solid #ffffff;
  transition: 0.3s;
}

.more-button:hover{
  background-color: #232323;
}

.disco{
  color: white;
  display: flex;
  padding: 80px 0 0 0;
  margin: 0 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.disco-tittle{
  font-weight: bolder;
  font-size: 90px;
  margin: 0 auto;
  padding: 0 0 0 320px;
}

.disco-grid{
  margin: -20px 100px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  position: relative;
  /* padding-bottom: -50px; */
}

.grid-item{
  margin: 40px 0;
}

.mid-button{
  display: flex;
  padding-top: 50px;
}

.mid-button-awards{
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}

.more-button2{
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-left: auto;
  font-size: 21px;
  width: 170px;
  align-content: center;
  border-radius: 20px;
  border: solid #ffffff;
  transition: 0.3s;
  margin: 0 auto;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  display: inline-block;
}

.more-button2:hover{
  background-color: #232323;
}


.awards{
  background-image: url(D:\Kanye\images\taylor.jpg);
  margin: 0 100px;
   color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;

}

.awards-tittle{
  color: white;
  display: flex;
  padding: 100px 0 0 400px;
  margin: 0 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 100px;
  font-weight: bold;
}

.number03{
  color: white;
  font-size: 90px;
  position: absolute;
  font-weight: bold;
  font-family:'Ubuntu Condensed', sans-serif;
}

.awards-under-text{
  z-index: 3;
}

.awards-u1{
  color: white;
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  font-family:'Ubuntu Condensed', sans-serif;
  padding: 0 0 0 18%;
  margin-left: auto;
  margin: -50px;
}

.awards-u2{
  color: white;
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  font-family:'Ubuntu Condensed', sans-serif;
  margin-left: auto;
  padding-left: 45%;
  /* text-align: center; */
  margin: -50px;
}

.awards-u3{
  color: white;
  font-size: 30px;
  position: absolute;
  font-weight: bold;
  font-family:'Ubuntu Condensed', sans-serif;
  padding: 0 0 0 80%;
  margin-left: auto;
  margin: -50px;
}

.more-button3{
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-left: auto;
  font-size: 21px;
  width: 187px;
  align-content: center;
  border-radius: 20px;
  border: solid #ffffff;
  transition: 0.3s;
  margin: 0 auto;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  display: inline-block;
}

.more-button3:hover{
  background-color: #232323;
}

.form-ye{
  color: white;
  display: flex;
  padding: 80px 0 0 0;
  margin: 0 79px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 21px;
}

.form-img-ye{
  padding: 0px 20px 0 20px;
  width: 50%;
}

.form-descriptiony-ye{
  color: white;
  padding: 0 0 10px;
  /* font-weight: bold; */
  font-size: 27px;
}

.bio-text-ye{
  width: 40%;
  color: white;
  font-weight: lighter;
  font-size: 21px;
}

.form-ye2{
  color: white;
  display: flex;
  padding: 5px 0 0 0;
  margin: 0 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 21px;
}

.ye-img2{
  align-content: left;
}

.bio-text-yezey{
  width: 50%;
  color: white;
  font-weight: lighter;
  font-size: 21px;
}

.mid-button-yeezy{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.more-button4{
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-left: auto;
  font-size: 21px;
  width: 243px;
  align-content: center;
  border-radius: 20px;
  border: solid #ffffff;
  transition: 0.3s;
  margin: 0 auto;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  display: inline-block;
}
.more-button4:hover{
  background-color: #232323;
}

.bio-text-pg{ 
  color: white;
  font-weight: lighter;
  font-size: 21px;
}

.form-img-bio{
  padding: 0px 20px 0 20px;
  width: 40%;
}

.bio-text-2{ /*взят*/
  width: 80%;
  color: white;
  font-weight: lighter;
  font-size: 21px;
}

.bio-form{
  color: white;
  display: flex;
  padding: 40px 0 0 0;
  margin: 0 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.bio-number{
  position: absolute;
  /* padding-left: -100px; */
  font-size: 90px;
  font-weight: bold;
}

.bio-form-tittle{
  position: relative;
  color:white;
  font-size: 90px;
  font-weight: bold;
}

.bio-big-text{
  font-size: 40px;
  font-weight: 300;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffffff;
}

.bio-right-text{
  width: 90%;
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

.bio-fullscreen-text{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 0 10% 0 10%;
}

.kwj-img{
  width: 40%;
  float: right; 
  /* margin: 0 0 0 10px; */
  padding-right: 10%;
  margin-left: 5px;
}

.alb-form{
  color: white;
  display: flex;
  padding: 80px 0 0 0;
  margin: 0 100px;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 50px;
  position: relative;
}

.alb-form-tittle{
  position: relative;
  color:black;
  font-size: 70px;
  font-weight: bold;
}

.alb-fullscreen-text{
  font-size: 20px;
  font-weight: lighter;
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 1% 10% 0 10%;
}

.alb-right-text{
  width: 90%;
  font-size: 25px;
  color: black;
  font-weight: lighter;
}

.table-big-text{
  font-size: 25px;
  font-weight: 300;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #ffffff;
}

.table{
  padding: 10px 25% 0 25%;
  color: white;
  font-size:20px;
  font-weight: 300;
  font-family: 'Ubuntu Condensed', sans-serif;
}

table{
  border: 1px solid white;
  border-collapse: collapse;
}

td{
    border:1px solid white;
    padding: 10px;
  }

th{
  border: 1px solid white;
  padding: 10px;
}

.yzy-img{
  width: 35%;
  float: left; 
  /* margin: 0 0 0 10px; */
  padding-left: 11%;
  margin-right: 5px;
}
/* @media screen and (max-width: 1800px) {
    .text {
      font-size: 200px;
  }
}

@media screen and (max-width: 960px) {
    .text {
      font-size: 150px;
  }
}

@media screen and (max-width: 715px) {
    .text {
      font-size: 120px;
  }
}

@media screen and (max-width: 578px) {
    .text {
      font-size: 90px;
  }
}

@media screen and (max-width: 440px) {
    .text {
      font-size: 60px;
  }
}*/